<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Quizr</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="mkipp@uos.de" href="http://uos.de">
        Marcel Kipp
    </author>
    <content src="menu.html" />
    <access origin="*" />
	<icon src="/www/img/quiz-icon.png" />
</widget>
